<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <servlet>
        <servlet-name>Jersey Rest Service</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.core.Application</param-name>
            <param-value>com.example.firstproject.demo2.APIApp</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>
            Jersey Rest Service
        </servlet-name>
        <url-pattern>
            /*
        </url-pattern>
    </servlet-mapping>
</web-app>